@import url('../../../css/common.less');

.xz-popover{
	position:fixed;
	z-index:1000;
}
.xz-popover-show{
	visibility:visible;
}
.xz-popover-hide{
	visibility:hidden;
}
.xz-popover-bk{
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index:10;
	background-color:#000;
}
.xz-popover-content{
	position:relative;
	z-index:14;
}

.xz-popover-bk-show{
	visibility:visible;
	opacity:.5;
}
.xz-popover-bk-hide{
	visibility:hidden;
	opacity:0;
}