*{
  padding: 0;
  margin: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  box-sizing: border-box;
}
#xz-lightapp-root{
  position: relative;
  height:100%;
  overflow: hidden;
}

.xz-page-inner,.full-screen{
  position:relative;
  width:100%;
  overflow:hidden;
  height:100%;
}

.xz-page-base-page{
  width:100%;
  height: 100%;
  position: absolute;
  left:0;
  top:0;
}

body{
  font-size:.4rem;
}



.px2rem(@name, @px){
    @{name}: @px / 75 * 1rem;
}


button{
  .px2rem(font-size, 30);
  border:1px solid red;
  .px2rem(border-radius,6);
}

.xz-scrolling{
  -webkit-overflow-scrolling: touch;
}
.xz-page-out-wrapper,.xz-page-route-wrapper{
  top:0;
  left:0;
  width:100%;
  height:100%;
  position: absolute;
  overflow: hidden;
}

.left-in {
    animation: leftin .3s cubic-bezier(.05, .69, .14, 1);
    -webkit-animation: leftin .3s cubic-bezier(.05, .69, .14, 1);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

@keyframes leftin {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes leftin {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.right-in {

    -webkit-animation: rightin .3s cubic-bezier(.05, .69, .14, 1);
    animation: rightin .3s cubic-bezier(.05, .69, .14, 1);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
}

@-webkit-keyframes rightin {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

@keyframes rightin {
    0% {
        transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
    }
}

.left-out {
    animation: leftout .4s cubic-bezier(.05, .69, .14, 1);
    -webkit-animation: leftout .4s cubic-bezier(.05, .69, .14, 1);
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
}

@keyframes leftout {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-100%, 0, 0);
    }
}

@-webkit-keyframes leftout {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
    }
}

.right-out {
    animation: rightout .4s cubic-bezier(.05, .69, .14, 1);
    -webkit-animation: rightout .4s cubic-bezier(.05, .69, .14, 1);
    transform: translate3d(100%, 0, 0);
}

@keyframes rightout {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(100%, 0, 0);
    }
}

@-webkit-keyframes rightout {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(100%, 0, 0);
    }
}


.xz-showpage-frombottom-show {
    animation: showpagefrombottom .15s ease;
    -webkit-animation: showpagefrombottom .15s ease;
    transform: translate3d(0, 0, 0);
    position:absolute;
    top:0;
    z-index:1;
    left:0;
    background-color:#fff;
    height:100%;
    width:100%;
}

@keyframes showpagefrombottom {
    0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

@-webkit-keyframes showpagefrombottom {
     0% {
        transform: translate3d(0, 100%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

html,body{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width:100%;
  height:100%;
  overflow: hidden;
}

.xz-pageview-outer{
  position: relative;
  z-index: 10;
  height:100%;
}
.xz-pageview
{
  height:100%;
  width:100%;
  overflow: auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-justify-content:flex-start;
  -webkit-overflow-scrolling:touch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.xz-root-container{
  position: relative;
  height:100%;
  width:100%;
}

.xz-drawer-page-wrapper{
  position: relative;
  height:100%;
  width:100%;
  overflow: hidden;
}
.xz-tab-body-wapper
{
  position: relative;
  height:100%;
  width:100%;
}
.displayflex{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-overflow-scrolling:touch;
}
