@import url('../../../css/common.less');


.xz-loadinglayer{
	position:relative;
	z-index:1000;
}

.xz-lol-t{
	position:absolute;
	bottom:0;
	top:0;
	left:0;
	right:0;
	z-index:1000;
	display:flex;
	align-items:center;
	justify-content:center;
}

.xz-loadinglayer-none{
	visibility:hidden;
}
