@import url('../../../../node_modules/xz-lightapp/css/common.less');

.meituan-header{
	height:1.2rem;
	position:absolute;
	top:0;
	width:100%;
	z-index:2;
}
.meituan-shop-topview{
	height:3.4rem;
	position:relative;
	z-index:1;
	background-color:#eee;
	padding-top:1.2rem;
	background-repeat:no-repeat;
	background-size:100%;
}
.meituan-shop-header{
	background-color:#fff;
	border-bottom:1px solid #bbb;
}

.meituan-top-content{
	position:relative;
	color:#fff;
	z-index:3;
}

.meituan-shop-topview:before{
	content:"";
	position:absolute;
	z-index:1;
	top:0;
	background-color:rgba(0,0,0,.66);
	left:0;
	right:0;
	bottom:0;
}
.meituan-shop-bottomview{
	position:absolute;
	display:flex;
	z-index:2;
	flex-direction:column;
	bottom:0;
	left:0;
	background-color:#fff;
	right:0;
	transition:top .35s ease;
}
.meituan-shop-bottomview-open{
	top:3.4rem;
}
.meituan-shop-bottomview-close{
	top:1.2rem;
}

.meitu-shop-segment{
	height:1.2rem;
	z-index:2;
	border-bottom:1px solid #bbb;
}
.meitu-shop-segment .xz-segment-selected-item{
	color:rgb(219,165,45);
}
.meitu-shop-segment .xz-segment-indicator{
	background-color:rgb(219,165,45);
}
.meituan-shop-statusview{
	flex:1;
}
.mt-dc-row{
	display:flex;
	flex-direction:row;
	position:relative;
	padding-top:.2rem;
	padding-bottom:.2rem;
}
.mt-dc-row-left{
	width:1.3rem;
	height:100%;
	position:relative;
}

.mt-dc-row-left .avatar{
	width:1.1rem;
	height:1.1rem;
	position:relative;
	background-color:#eee;
}

.mt-dc-row-right{
	flex:1;
	height:100%;
	position:relative;
}
.meituan-shop-diancai{
	position:relative;
	height:100%;
	width:100%;
	display:flex;
	top:1px;
	flex-direction:row;
}
.meituan-diancai-leftlist{
	font-size:.35rem;
	padding-bottom:2rem;
}
.meituan-diancai-leftlist li{
	padding-left:.2rem;
	padding-top:.4rem;
	position:relative;
	padding-bottom:.4rem;
	padding-right:.2rem;
	border-bottom:1px solid #ccc;
	
}
.meituan-diancai-leftlist li span{
	text-overflow: -o-ellipsis-lastline;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.meituan-diancai-leftlist li.selected{
	background-color:#fff;
}

.meituan-diancai-left{
	width:2.4rem;
	height:100%;
	background-color:#eee;
}
.meituan-diancai-right{
	flex:1;
	height:100%;

}

.meituan-diancai-rightlist{
	padding:.2rem .2rem 1.4rem .2rem;
}
.meituan-diancai-right .xz-scroll-sticky-wrapper{
	padding-left:.2rem;
}
.mt-dc-left-cou{
	position:absolute;
	display:block;
	right:.1rem;
	top:.1rem;
	text-align:center;
	height:.4rem;
	width:.4rem;
	line-height:.4rem;
	font-size:.3rem;
	border-radius:100%;
	background-color:red;
	color:#fff;
}
.mt-dc-row-pj{
	color:#adadad;
	font-size:.35rem;
	position:relative;
}
.mt-dc-row-num{
	position:relative;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.mt-dc-row-money .now{
	color:red;
	font-size:.45rem;
}
.mt-dc-row-money .old{
	color:#aaa;
	text-decoration: line-through;
	font-size:.35rem;
	margin-left:.14rem;
}
.mt-dc-secheader{
	height:.8rem;
	line-height:.8rem;
	font-size:.38rem;
	position:relative;
	background-color:#fff;
	padding-left:.24rem;
}

.meituan-shop-bottom-bar{
	position:absolute;
	bottom:0;
	width:100%;
	z-index:103;
	height:1.2rem;
	background-color:rgba(0,0,0,.83);
}
.mt-sp-allc{
	position:absolute;
	left:1.5rem;
	width:.5rem;
	height:.5rem;
	line-height:.5rem;
	text-align:center;
	background-color:#6f6a6a;
	border-radius:100%;
	top:-.5rem;
	color:#fff;
	background-color:red;
	z-index:5;
}

.mt-s-b-btn{
	position:absolute;
	left:.5rem;
	width:1.4rem;
	height:1.4rem;
	background-color:#6f6a6a;
	border-radius:100%;
	top:-.5rem;
	z-index:3;
}


.mt-dc-secheader:before{
	width:.05rem;
	content:' ';
	left:.1rem;
	height:.3rem;
	background-color:rgb(219,165,45);
	top:50%;
	position:absolute;
	transform:translateY(-50%);
}

