@import url('../../../css/common.less');
.xz-swiper{
	position:relative;
}
.xz-default-swiper{
	.px2rem(height,300)
}

.xz-swiper-item{
	height:100%;
	position:absolute;
	left:0;
	top:0;
	width:100%;
}