@import url('../../../css/common.less');
.xz-swiper{
	position:relative;
	overflow:hidden;
}
.xz-default-swiper{
	.px2rem(height,300)
}

.xz-swiper-item{
	height:100%;
	position:absolute;
	left:0;
	top:0;
	width:100%;
}
.xz-swiper-inneritem{
	position:relative;
	width:100%;
	height:100%;
	overflow:hidden;
	display:flex;
	flex-direction:column;
}
.xz-swipe-selin{
	.px2rem(height,16);
	.px2rem(width,16);
	position:relative;
	border-radius:100%;
	background-color:#fff;
	.px2rem(margin-bottom,30);
	.px2rem(margin-left,15);
}
.xz-swipe-in{
	.px2rem(height,16);
	.px2rem(width,16);
	position:relative;
	border-radius:100%;
	border-color:#fff;
	.px2rem(border-width,2);
	border-style:solid;
	.px2rem(margin-bottom,30);
	.px2rem(margin-left,15);
}
.xz-swipe-default-indwrap{
	position:absolute;
	bottom:0;
	.px2rem(height,40);
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}

.xz-swiper-inneritem .test{
	position:absolute;
	top:0;
	left:0;
	color:red;
}