@import url('../../../css/common.less');

.xz-dropdpwn-group{
	position:relative;
}

.xz-dropdown-list{
	position:absolute;
	width:100%;
	top:0;
	bottom:0;
	z-index:101;
}

.xz-dropdown-item{
	position:absolute;
	top:0;
	z-index:30;
	left:0;
	right:0;
	background-color:rgba(0,0,0,0);
	bottom:0;
}

.xz-dd-item-hide{
	transform:translate3d(0,-103%,0);
	
}

.xz-dd-item-bk{
	position:absolute;
	top:0;
	z-index:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.5);
	bottom:0;
}

.xz-dd-item-bk-hide{
	opacity:0;
	animation: itemwraphide .5s cubic-bezier(.05, .69, .14, 1);
}

@keyframes itemwraphide {
    0% {
        opacity:1;
    }

    100% {
        opacity:0;
    }
}


.xz-dd-item-hide>div{
	transform:translate3d(0,-103%,0);
}

.xz-dd-item-hide-ani>div,.xz-dd-item-hide-ani>ul{
	animation: itemhide .3s cubic-bezier(.05, .69, .14, 1);
	transform:translate3d(0,-103%,0);
}

@keyframes itemhide {
    0% {
        transform: translate3d(0, 0, 0);
    }

    100% {
        transform: translate3d(0,-103%,0);
    }
}

.xz-dd-item-show>div{
	transform:translate3d(0,0,0);
}

.xz-dd-item-show-ani>div,.xz-dd-item-show-ani>ul{
	animation: itemshow .3s cubic-bezier(.05, .69, .14, 1);
	transform:translate3d(0,0,0);
}

@keyframes itemshow {
    0% {
        transform: translate3d(0,-103%,0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

.xz-displaynone{
	transition:visibility .7s ease;
	visibility: hidden;
}
.xz-dropdown-inner{
	position:relative;
	width:100%;
	z-index:10;
	height:100%;
	overflow:hidden;
}