@import url('../../../css/common.less');


.xz-selector{
	position:fixed;
	bottom:0;
	width:100%;
	z-index:100;
	background-color:white;
}

.xz-se-gradient-layer {
    position: absolute;
    height: 100%;
    top: 0px;
    width: 100%;
    z-index: 10;
    background: -webkit-linear-gradient(top,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, .6) 30%,
    rgba(255, 255, 255, .0) 50%,
    rgba(255, 255, 255, .6) 70%,
    rgba(255, 255, 255, 1) 100%);
}
.xz-selector-midarea{
	position: absolute;
    height: 1rem;
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    top: 2rem;
    width: 100%;
}

.xz-selector-content{
	display:flex;
	position:relative;
	height:5rem;
	flex-direction:row;
	overflow:hidden;
}

.xz-selector-col li{
	height:1rem;
	line-height:1rem;
	text-align:center;
	position:relative;
}
.xz-selector-col{
	flex:1;
	position:relative;
}