@import url('../../../node_modules/xz-lightapp/css/common.less');
.detail-segment{
	.px2rem(height,90);
	.px2rem(width,340);
	.px2rem(font-size,30);
}
.detail-header{
	.px2rem(height,90);
	display:flex;
	background-color:#fff;
	justify-content:center;
	align-items:center;
}
.detail-swiper{
	.px2rem(height,640);
}
.detail-content-swiper{
	flex:1;
}