@import url('../../../node_modules/xz-lightapp/css/common.less');
.detail-segment{
	.px2rem(height,90);
	.px2rem(width,340);
	.px2rem(font-size,30);
}
.detail-header{
	.px2rem(height,90);
	display:flex;
	background-color:#fff;
	justify-content:center;
	align-items:center;
}
.good-detail-ver-swiper{
	flex:1;
}
.detail-swiper{
	.px2rem(height,640);
}
.detail-content-swiper{
	flex:1;
}
.good-detai-main-wrapper{
	display:flex;
	flex:1;
	flex-direction:column;
	position:relative;
}	

.goodinfo-scrollview{
	flex:1;
}

.good-lis-indi-wrapper{
	position:absolute;
	.px2rem(width,90);
	background-color:rgba(0,0,0,.5);
	color:#fff;
	border-radius:100%;
	.px2rem(height,90);
	.px2rem(line-height,90);
	text-align:center;
	.px2rem(right,20);
	.px2rem(bottom,20);
}