@import url('../../../node_modules/xz-lightapp/css/common.less');


@searchheight:88;
@topareaheight:264;
@conditionareaheight:88;


.goodlis-condition-segment{
	.px2rem(height,@conditionareaheight) !important;
}
.goodlis-top-area{
	position:absolute;
	top:0;
	width:100%;
	.px2rem(height,@topareaheight);
	z-index:10;
	transition:transform .5s ease;
	background-color:#fff;
	border-bottom:1px solid @headerbordercolor;
}

.goodlis-top-area-min{
	.px2remtransfrom(0,0  - @topareaheight + @conditionareaheight);
}

.goodlis-condition-area{
	.px2rem(height,@conditionareaheight);
	position:relative;
}
.goodlis-search-area{
	.px2rem(height,@searchheight);
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
	border-bottom:1px solid @headerbordercolor;
}

.goodlis-input-area{
	flex:1;
	.px2rem(height,70);
	.px2rem(border-radius,35);
	.px2rem(margin-left,40);
	.px2rem(margin-right,40);
	background-color:#eee;

	position:relative;
}
.goodlis-filter-area{
	.px2rem(height,@topareaheight - @searchheight - @conditionareaheight);
	position:relative;
	display:flex;
	flex-direction:row;
	border-bottom:1px solid @headerbordercolor;
}
.goodlis-filter-area .goodlis-filter-item{
	flex:1;
	position:relative;
	text-align:center;
	.px2rem(line-height,@searchheight);
}


.goodlis-scroll{
	position:relative;
	flex:1;
	z-index:1;
}

.goodlis-scroll .goddlis-top-bk{
	position:relative;
	.px2rem(height,@topareaheight);
}
.goodlis-condition-dd-1{
	position:relative;
	.px2rem(height,400);
	background-color:red;
}

.testitem{
	.px2rem(height,60);
}