@import url('../../../node_modules/xz-lightapp/css/common.less');

.app-header{
	 .px2rem(height, 88);
	 width:100%;
	 border-bottom:1px solid @headerbordercolor;
	 background-color:rgb(242,242,245);
}

.btn-wrap{
	 .px2rem(padding-left, 20);
}

.btn-wrap button{
	 .px2rem(margin-left, 20);
}

.condition (@a) when (@a=tes) {
  background-color: black;
}




