@import url('../../../node_modules/xz-lightapp/css/common.less');

.app-header{
	 .px2rem(height, 88);
	 width:100%;
	 border-bottom:1px solid @headerbordercolor;
	 background-color:rgb(242,242,245);
}


.search-bar{
	 .px2rem(height, 80);
	 position:absolute;
	 top:0;
	 width:100%;
	 z-index:10;
	
}

.main-loading{
	bottom:0;
	background-color:rgba(255,255,255,.8);
}


.main-wrapper{
	position:absolute;
	top:0;
	right:0;
	left:0;
	bottom:0;
}
.search-bar-inner{
	position:relative;
	width:100%;
	height:100%;
	 display:flex;
	 flex-direction:row;
	 justify-content:center;
	 align-items:center;
}
.search-bar-bk{
	position:absolute;
	top:0;
	z-index:0;
	left:0;
	width:100%;
	height:100%;
	background-color:red;
	transition:opacity .6s ease;
}
.search-bar .search-input{
	 .px2rem(height, 60);
	 background-color:#fff;
	 .px2rem(border-radius, 30);
	 .px2rem(width, 600);
	 z-index:1;
}
.search-bar .messiconspan{
	 z-index:1;
	 margin-left: 0.4rem;
}
.searchbar-opacity-none .search-bar-bk{
	opacity:0;
}
.searchbar-opacity-show .messiconspan{
	color:#fff;
}

.searchbar-opacity-show .search-bar-bk{
	opacity:0.9;
}
.btn-wrap{
	 .px2rem(padding-left, 20);
}

.btn-wrap button{
	 .px2rem(margin-left, 20);
}

.condition (@a) when (@a=tes) {
  background-color: black;
}

.appswiper-ul{
	position:relative;
}
.appswiper-ul li{
	float:left;
	width:20%;
	text-align:center;
	.px2rem(height,140);
	.px2rem(padding-top,15);
}
.app-swiper{
	.px2rem(height,300);
	.px2rem(font-size,24);
	background-color:#fff;
	.px2rem(border-top-left-radius,20);
	.px2rem(border-top-right-radius,20);
	.px2rem(margin-top,-20);
	z-index:3;
}
.top-swiper{
	z-index:1;
	.px2rem(height,300)
}

.swiper-app-title{
	position:relative;
	display:block;
	.px2rem(margin-top,7);
}

.swiper-app-icon{
	.px2rem(width,80);
	position:relative;
	margin:auto;
	.px2rem(height,80);
	border-radius:100%;
	background-color:orange;
}

.good-list{
	overflow:hidden;
	position:relative;
	.px2rem(padding-top,6);
    background-color: #eee;
}

.good-list li{
	float:left;
	width:50%;
	box-sizing: border-box;
	.px2rem(padding-bottom,8);
}

.good-list li img{
	position:relative;
	.px2rem(width,371);
	.px2rem(height,371);
}

.good-list .good-text{
	.px2rem(height,60);
	.px2rem(font-size,28);
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-word;
    color: #232326;
	.px2rem(line-height,31);
	.px2rem(margin-bottom,3);
	.px2rem(padding-left,6);
	.px2rem(padding-right,6);
}

.main-scroll{
	position:relative;
	width:100%;
	height:100%;
}

.hor-s-item-wrapper{
	white-space:nowrap;
	position:relative;
	overflow: hidden;
	height:100%;
    float: left;
    background-color:#fff;
}
.hor-s-item{
	display:inline-block;
	.px2rem(width,100);
	 background-color:#fff;
	hieght:100%;
	white-space:nowrap;
}

.app-horizon-scroll{
	.px2rem(height,190);
	.px2rem(margin-bottom,10);
	.px2rem(margin-top,10);
	background-color:white;
}
.index-ver-siwper-wrapper{
	display:flex;
	justify-content:center;
	align-items:center;
	.px2rem(padding-top,10);
	background-color:#eee;
	.px2rem(padding-bottom,10);
}
.swiper-ver-item{
	.px2rem(padding-left,40);
}
.index-ver-swiper{
	.px2rem(height,66);
	.px2rem(font-size,27);
	.px2rem(line-height,34);
	.px2rem(width,680);
	position:relative;
	background-color:#fff;
	.px2rem(border-radius,50);
}



.good-list li .rowinner{ 
	background-color:#fff;
	.px2rem(border-radius,6);
	.px2rem(padding-bottom,8);
	overflow:hidden;
}
.good-list li:nth-child(2n) {
    .px2rem(padding-left,4);
}
.good-list li:nth-child(2n+1) {
    .px2rem(padding-right,4);
}





