@import url('../../../node_modules/xz-lightapp/css/common.less');
@import url('../../../node_modules/xz-lightapp/src/components/segment/index.less');

.segement-demo-2{
	background-color:#fff;
}
.segement-demo-2 .xz-segment{
	.px2rem(height,74);
}
.segement-demo-indicator-1{
	background-color:@themecolor;
	.px2rem(border-radius,5);
	transition:all .2s ease;
}


.segement-indi{
	position:absolute;
	bottom:0;
	background-color:@themecolor;
	.px2rem(border-radius,5);
}
.segement-indi-ltr{
	transition:left .6s ease,right .2s ease;
	-webkit-transition:left .6s ease,right .2s ease;
}
.segement-indi-rtl{
	transition:left .2s ease,right .6s ease;
	-webkit-transition:left .2s ease,right .6s ease;
}



.ios-style-segment{
	.ios-style(500,58);
	margin:auto;
	.px2rem(font-size,25);
}