@import url('../../../../node_modules/xz-lightapp/css/common.less');

@bc:#cacacc;
.qq-body{
	flex:1;
	position:relative;
}

.qq-body > .xz-scrollview-inner-v > .xz-sv-scrollarea-v{
	overflow:hidden !important;
}

.qq-fir-scrollview{
position:relative;
width:100%;
height:100%;
}
.qq-fri-list-row{
	.px2rem(height,98);

	position:relative;
	display:flex;
	flex-direction:row;
}
.qq-content-mes{
	.px2rem(font-size,24);
	color:#bbb;
	.px2rem(margin-top,4);
	position:relative;
}
.qq-public-section-header{
	.px2rem(height,56);
	.px2rem(line-height,56);
	.px2rem(padding-left,20);
	position:relative;
	background-color:#eee;
	color:gray;
	.px2rem(font-size,28);
}
.create-group-btn{
	.px2rem(height,90);
	.px2rem(line-height,90);
	.px2rem(padding-left,20);
	border-bottom:1px solid @bc;
	position:relative;
}
.qq-fri-content-name{
	display:block;
	.px2rem(font-size,32);
	position:relative;
}
.icon-rotate{
	transform:rotate(90deg);
}
.qq-list-section-name{
	.px2rem(font-size,34);
	.px2rem(margin-left,10);
	color:#333;
	position:relative;
}
.qq-fri-avatar{
	.px2rem(width,130);
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:relative;
}
.qq-list-avatar{
	.px2rem(width,74);
	.px2rem(height,74);
	border-radius:100%;
}

.qq-fri-rowcontent{
	flex:1;
	border-bottom:1px solid @bc;
	height:100%;
	position:relative;
	justify-content:center;
	flex-direction:column;
	display:flex;
}
.qq-gl-body .qq-gl-row:last-child .qq-fri-rowcontent{
	border:none;
}
.qq-fri-list-sectionheader{
	.px2rem(height,88);
	display:flex;
	background-color:#fff;
	flex-direction:row;
	align-items:center;
	position:relative;
}
.qq-fri-list-sectionheader .iconfont{
	font-size:.5rem;
	transition:transform .2s ease;
	margin-left:.1rem;
}
.qq-fri-list-sectionheader-left{
	.px2rem(margin-right,20);
	color:#9a9a9a;
	.px2rem(font-size,24);
	position:absolute;
	right:.2rem;
	top:50%;
	transform:translateY(-50%);
}
.qq-fri-search{
	position:relative;
	width:100%;
	z-index:1;
	height:2.5rem;
	background-color:#f2f3f4;
}
.qq-fri-newfri{
	.px2rem(height,80);
	display:flex;
	background-color:#fff;
	flex-direction:row;
	align-items:center;
	border-bottom:1px solid @bc;
	border-top:1px solid @bc;

}

.qq-fri-newfri span{
	.px2rem(margin-left,20);
}
.qq-fri-scroll{
	position:absolute;
	z-index:2;
	overflow:hidden;
	border-top:1px solid @bc;
	bottom:0;
	background-color:#fff;
	width:100%;
	display:flex;
	flex-direction:column;
	transition:top .4s ease;
}
.qq-fri-scroll-open{
	top:2.5rem;
}
.qq-fri-scroll-close{
	top:0;
}
.qq-fri-status{
	flex:1;
	position:relative;
}

.qq-fir-seg{
	border-bottom:1px solid @bc;
	z-index:2;
}