@import url('../../css/common.less');

.xz-toast-top-slide-show{
  top:0;
  left:0;
  right:0;
  min-height:20px;
  width:100%;
  animation:toasttopsildeshow .25s ease;
  transform: translate3d(0,0,0);
}
.xz-toast-flex{
	display:flex;
	align-items:center;
	justify-content:center;
}
.xz-toast-span{
	display:inline-block;
	position:relative;
	max-width:90%;
	min-width:2rem;
	color:#fff;
	text-align:center;
	margin-top:1rem;
	padding:.2rem;
	border-radius:.06rem;
	background-color:rgba(0,0,0,.7);
}

@keyframes toasttopsildeshow {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0,0,0);
    }
}


.xz-toast-top-slide-hide{
  top:0;
  left:0;
  right:0;
  min-height:20px;
  width:100%;
  animation:toasttopsildehide .25s ease;
  transform: translate3d(0,-100%,0);
  visibility:hidden;
}

@keyframes toasttopsildehide {
    0% {
      visibility:visible;
        transform: translate3d(0,0,0);
    }

    100% {
      visibility:hidden;
        transform: translate3d(0, -100%, 0);
    }
}

.xz-toast-wrapper{
  width:100%;
  left:0;
  z-index:1000;
  position:absolute;
  top:0;
  height:0;
}

.xz-toast-item-wrapper{
	position:absolute;
	width:100%;
}