@import url('../../../css/common.less');

.xz-refresh-control-h{
	position:fixed;
	background-color:#fff;
	overflow:hidden;
	height:100%;
	.px2rem(width,600);
	.px2rem(margin-left,-600);
	top:0;
	z-index:1;
}
.xz-sv-scrollarea-h,.xz-sv-scrollarea-v{
	position:relative;
	width:100%;
	height:100%;
	-webkit-overflow-scrolling:touch;
	z-index:20;
}

.xz-sv-scrollarea-h{
	overflow-x:auto;
	overflow-y:hidden;
	width:100%;
}
.xz-sv-scrollarea-v{
	overflow-x:hidden;
	overflow-y:auto;
	height:100%;
}
.xz-scrollview-v{
	overflow:hidden;
}
.xz-scrollview-inner-v{
	position:absolute;
	height:100%;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

.xz-loadmore-control-h{
	position:fixed;
	height:100%;
	.px2rem(width,600);
	.px2rem(margin-right,-600);
	.px2rem(right,-1);
	overflow:hidden;
	background-color:#fff;
	top:0;
	z-index:1;
}
.xz-loadmore-control-v{
	position:fixed;
	width:100%;
	.px2rem(height,600);
	.px2rem(margin-bottom,-600);
	.px2rem(bottom,-1);
	overflow:hidden;
	background-color:#fff;
	z-index:1;
}

.xz-refresh-control-v{
	position:relative;
	background-color:#fff;
	.px2rem(height,600);
	.px2rem(margin-top,-600);
}
.xz-scrollview{
	position:relative;
}

.xz-scrollview-inner-h{
	position:relative;
	width:100%;
	height:100%;
}

.xz-scrollview-h{
	overflow:hidden;
	flex-direction:row;
}

.xz-refresh-control-inner-h{
	position:absolute;
	height:100%;
	right:0;
	.px2rem(width,134);
	display:flex;
	justify-content:center;
	align-items:center;
}

.xz-refresh-control-inner-v{
	position:absolute;
	bottom:0;
	width:100%;
	.px2rem(height,94);
	display:flex;
	justify-content:center;
	align-items:center;
}

