@import url('../../../../node_modules/xz-lightapp/css/common.less');
.qq-header-act{
	height:100%;
	.px2rem(line-height,100);
}
.qq-header-popover{
	width:4rem;
	background-color:#fff;
	border-radius:.1rem;
	color:#2b2b2b;
}

.qq-header-popover li{
	height:1.2rem;
	line-height:1.2rem;
	padding-left:.3rem;
	border-bottom:1px solid #bbb;
}

.qq-header-popover li:last-child{
	border:none;
}